.font-family{
     font-family: "Poppins", serif;;
}
.banner {
    padding-top: 100px;
    height: auto;
    background-image: url("https://fusta-demo.myshopify.com/cdn/shop/files/slide-bg-1.jpg?v=1613745446");
    background-size: cover;
    background-position: center;
}

.tagline{
    font-size: 60px;
}
.banner p{
    /* font-size: 13px; */
    text-align: justify;
    width: 450px;
}
button{
    padding: 8px 20px;
    border: none;
}
.btn-bg{
    background-color: #F59E0B
}
.btn-text-clr{
    color:  #F1F5F9 ;
    /* color: #1E3A8A; */
}
.footer-bg{
    color: #1E3A8A;
}
.footer-txt-clr{
    color: #F1F5F9;
}
.about-bg{
    background: #F1F5F9;
}
.about-txt{
    color: #1E3A8A;
}
.carousel-control-prev-icon,.carousel-control-next-icon{
    background-color: gray;
}

.banner-content img{
    height: 500px;
    width: auto;
}

@media (max-width: 575px) {
    .banner-content{
        flex-direction: column;
    }
    .banner-content img{
        height: auto;
    }
    .banner p{
        width: auto;
    }
  }