.font-family{
     font-family: "Poppins", serif;;
}
.banner {
    padding-top: 100px;
    height: auto;
    background-image: url("https://fusta-demo.myshopify.com/cdn/shop/files/slide-bg-1.jpg?v=1613745446");
    background-size: cover;
    background-position: center;
}

.tagline{
    font-size: 60px;
}
.banner p{
    /* font-size: 13px; */
    text-align: justify;
    width: 450px;
}
.about p{
    /* font-size: 13px; */
    text-align: justify;
    width: 450px;
}
button{
    padding: 8px 20px;
    border: none;
}
.btn-bg{
    background-color: #F59E0B
}
.btn-text-clr{
    color:  #F1F5F9 ;
    /* color: #1E3A8A; */
}
.footer-bg{
    color: #1E3A8A;
}
.footer-txt-clr{
    color: #F1F5F9;
}
.about-bg{
    background: #F1F5F9;
}
.about-txt{
    color: #1E3A8A;
}
.carousel-control-prev-icon,.carousel-control-next-icon{
    background-color: gray;
}

.banner-content img{
    height: 500px;
    width: auto;
}
.welcome-shopsphere{
    width: 400px;
    padding: 10px;
    transform: translate(-50%, -72%) rotate(90deg); /* Moves element to center and rotates it */
    top: 50%;  /* Moves element to 50% down from the top */
    left: 5px; /* Moves element 50% right from the left */
    position: absolute; /* Absolutely positioned */

}

@media (max-width: 575px) {
    .banner-content{
        flex-direction: column;
    }
    .banner-content img{
        height: auto;
    }
    .banner p,.about p{
        font-size: 13px;
        padding: 10px;
        width: auto;
    }
    .about-content{
        flex-direction: column;
    }
    .about-content-lines{
        padding: 10px;
    }
    .about img{
        padding: 10px;
       width: 100%;
    }
    .welcome-shopsphere{   
        width: auto;    
        padding: 10px;
        left: 35px;
    }
    .welcome-shopsphere h4{
        font-size:14px;
    }
  }